@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
    <img src="https://collegerank.azureedge.net/wp-content/uploads/2015/08/harvard-university-quad.jpg" alt="Alternate Text" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            We pride ourselves in giving an amazing hands on learning experience
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>At Contoso we want you to build!</p>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Join us today</h2>
        <p>Applcations are open now!</p>
        <p>

        </p>
    </div>
</div>